{% extends 'base.html' %}

{% block title %}Delete {{ blog_delete }}{% endblock title %}

{% block above_content %}
<div style="height: 5em;"></div>
{% endblock above_content %}

{% block content %}

<form method="POST" autocomplete="off">
    {% csrf_token %}

    <div class="center">
        <h4 class="flow-text">Delete "{{ blog_delete }}"?</h4>
        <input type="submit" value="Yes" class="btn red">
        <a href="{% url 'todoapp:index' %}" class="btn green">No</a>
    </div>

    

</form>
{% endblock content %}