{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block above_content %}
<div style="height: 5em;"></div>
{% endblock above_content %}

{% block content %}


<form method='POST' autocomplete="off">
    {% csrf_token %}
    <div class="row">
        <div class="input-field col l6 offset-l2 m7 offset-m1 s12">
            {{ form.title }}
            <label for="id_title">Task</label>
        </div>
        <div class="input-field col l2 m3 s12">
            {{ form.due_date }}
            <label for="id_due_date">Due Date</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col l8 offset-l2 m10 offset-m1 s12">
            {{ form.description }}
            <label for="id_description">Description</label>
        </div>
    </div>
    <div class="input-field center">
        <button type="submit" class="btn blue waves-effect">Add<i class="material-icons right">add</i></button>
    </div>

</form>



{% if tasklist %}
<div class="row">
    <div class="col l8 offset-l2 m10 offset-m1 s12">
        <ul class="collapsible popout">
            {% for task in tasklist %}
            <li>
                <div class="collapsible-header">
                    <p>
                        {% if task.completed == True %}
                        <strike>{{ task.title }}</strike>
                        {% else %}
                        {{ task.title }}
                        {% endif %}
                    </p>
                    {% if task.due_date %}
                    <span class="new badge red" data-badge-caption="{{ task.due_date }}"></span>
                    {% else %}
                    <span class="new badge green" data-badge-caption="Self Paced"></span>
                    {% endif %}
                </div>
                <div class="collapsible-body">
                    {% if task.description %}
                    <span>{{ task.description }}</span>
                    {% else %}
                    <span class='grey-text'>NO DESCRIPTION</span>
                    {% endif %}
                    <br>
                    <a href="{% url 'todoapp:update' task.id %}" class="btn green">Update</a>
                    <a href="{% url 'todoapp:delete' task.id %}" class="btn red">Delete</a>
                </div>

            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% else %}
<h5 class="center-align">No Tasks Available!</h5>
{% endif %}

{% endblock content %}

{% block below_content %}



{% endblock below_content %}