{% extends 'base.html' %}


{% block title %}Update{% endblock title %}

{% block above_content %}
    <div style="height: 5em;"></div>
{% endblock above_content %}

{% block content %}



    <div class="row center-align">
        <form method="POST" class="col s12" autocomplete="off">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s4 offset-s3">
                    {{ form.title }}
                    <label for="id_title">Task</label>
                </div>
                <div class="input-field col s2">
                    {{ form.due_date }}
                    <label for="id_due_date">Due Date</label>
                </div>
                <div class="input-field col s6 offset-s3">
                    {{ form.description }}
                    <label for="id_description">Description</label>
                </div>
                <div class="input-field col s1 offset-s3">
                    <label>
                        {{ form.completed }}
                        <span>Completed</span>
                    </label>
                </div>
                <div class="input-field col s4  ">
                    <input type="submit" value="Update" class="btn blue lighten-1">
                </div>
            </div>
        </form>
    </div>


{% endblock content %}

{% block below_content %}
    <script>
        var description = document.getElementById('id_description');
        description.className = "materialize-textarea";

        var due_date = document.getElementById('id_due_date');
        due_date.className = "datepicker"
    </script>
{% endblock below_content %}